* {
  box-sizing: border-box;
}

body{
  margin: 0;
  color: rgb(47, 47, 45);
  animation: flow 20s;
  cursor: pointer;
}

img{
  max-width: 100%;
}

.marquee1 {
  /* the plugin works for responsive layouts so width is not necessary */
  overflow: scroll;
  font-size: 30px;
  margin-top: 475px;
  animation: blur 4s ease 15s infinite;
 -webkit-animation: blur 4s ease 15s infinite;
 -moz-animation: blur 4s ease 15s infinite;
}


.marquee2 {
  /* the plugin works for responsive layouts so width is not necessary */
  overflow: scroll;
  font-size: 50px;
  animation: blur 5s ease 15s infinite, flow2 5s ease;
}

.marquee3 {
  /* the plugin works for responsive layouts so width is not necessary */
  overflow: scroll;
  font-size: 80px;
  animation: blur 6s ease 15s infinite, flow2 7s ease, flow2 7s ease;
}

.marquee4 {
  /* the plugin works for responsive layouts so width is not necessary */
  overflow: scroll;
  font-size: 130px;
  animation: blur 7s ease 15s infinite, flow2 10s ease, flow2 10s ease;
}

.marquee5 {
  /* the plugin works for responsive layouts so width is not necessary */
  overflow: scroll;
  font-size: 200px;
  animation: blur 9s ease 15s infinite, flow2 13s ease, flow2 13s ease;
}

.marquee6 {
  /* the plugin works for responsive layouts so width is not necessary */
  overflow: scroll;
  font-size: 400px;
  animation: blur 10s ease 15s infinite,  flow2 17s ease, flow2 17s ease;
}

button {
  font-size: 5rem;
  border: 5px groove rgb(47, 47, 45);
  border-radius: 20%;
  display: flex;
  padding: 20px;
}

.button1 {
  background-color: white;
  color: rgb(47, 47, 45);
  display: flex;
  margin: 0 auto 30px;
  justify-content: space-between;
  font-style: oblique;
  font-size: 80px;
}

.button3 {
  background-color: white;
  color: rgb(128, 128, 128);
  display: flex;
  margin: 0 auto 30px;
  justify-content: space-between;
  font-style: oblique;
  font-size: 80px;

}

.button2 {
  background-color: rgb(47, 47, 45);
  color: white;
  display: flex;
  margin: 0 auto 30px;
  justify-content: space-between;
  font-style: oblique;
  font-size: 80px;
  height: 142px;
}


button:hover{
  background-color: rgb(174, 205, 35);
  cursor: grab;
}

button:active {
  background-color: rgb(255, 60, 33);
  cursor: grabbing;
}

.box-styles {
  background-color: white;
  height: 90vh;
  width: 100%px;
  position: fixed;
  top: 0;
  right: -2000px;
  padding: 1.2rem;
  font-size: 10rem;
  transition: right 1s ease;
  text-align: center;
  font-weight: bold;
  height: 700px;
}

.box-styles2 {
  background-color: black;
  height: 5000px;
  width: 5000px;
  right: -5000px;
  position: fixed;
  top: 0;
}

#box2{
  animation: dose 4s linear;
}

.box-styles3 {
  background-color: black;
  height: 5000px;
  width: 5000px;
  right: -5000px;
  position: fixed;
  top: 0;
}

#box3{
  animation: dose 3s infinite;
}

.active {
  right: 0px;
}

@keyframes dose {
  0% {opacity: 0;}
  70% {opacity: 0;}
  100% {opacity: 100;}
}

@keyframes flow {
  0% {
    background-color: white; color: black;
  }

  50% {
    background-color: white; color: black;
  }

  100% {
    color: rgb(47, 47, 45);
  }
}

@keyframes flow2 {
  0% {color: white;
  }

  50% {color: white;
  }

  100% {
    color: black;
  }
}


@keyframes blur {
  0%,
  99% {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
  }
  50% {
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
}

@keyframes blur2 {
  0% {
    -webkit-filter: blur(5000px);
    -moz-filter: blur(5000vh0px);
    -o-filter: blur(5000px);
    -ms-filter: blur(5000px);
    opacity: 0%;
  }
  100% {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    opacity: 100%;
  }
}

filter: blur(3px);
-webkit-filter: blur(3px);
-moz-filter: blur(3px);
-o-filter: blur(3px);
-ms-filter: blur(3px);
filter: url(blur.svg#blur);
filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
